.abtContainer{
    display: flex;
    justify-content: center;
    background-color: #191919;
    height: 95vh;
    overflow: hidden;
    color:grey;
}

.left{
    width:35%;
    display: flex;
    height:inherit;
}
.right{
    width:65%;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 3%;
    padding-bottom: 3%;
    overflow-y: scroll;
}

.List{
    padding-left: 5%;
}
.heading{
    font-size: 3rem;
    margin:1rem 0rem;
    color: white;
}

.content{
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: lighter;
}
.subText{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: lighter;
}

.Links{
    text-decoration: none;
    color: inherit;
}
.Links:hover{
    color: white;
}