.main-Home{
    transition:all 0.5 ease;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.hidden{
    display: none;
}

.container{
    height:inherit;
}

.side{
    user-select: none;
    height:inherit;
    width:100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    position:absolute;
    transition: width 1s ease;
}

.side .title{
    font-size:3rem;
    transition: all 0.7s ease;
    cursor: pointer;
}

.title:hover {
    font-size:3.5rem;
}

.aditya{
    z-index: 3;
    background-color: white;
    color:#212121;
}
.webD{
    z-index: 2;
    background-color: #191919;
    color:white;
}
.softD{
    z-index: 1;
    background-color: white;
    color:#212121;
}

.Ve{
    z-index: 0;
    background-color: #191919;
    color:white;
}