.Nav{
    background-color: #191919;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent;
    z-index: 9995;
    top: 14px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    left:0; */
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color:grey;
    gap:10%;
}

button{
    background-color:transparent;
    border:none;
    color:inherit;
    cursor:pointer;
    font-size: 1rem;
    transition: all 0.4s ease;
}

button:hover{
    color:white;
}

.clicked{
    color:white;
}